# Python Lecture 1

## Reference material

Python Tutorial: https://docs.python.org/3.6/tutorial/

Python Reference: https://docs.python.org/3.6/library/

# Numbers

In [5]:
2+2

4

In [6]:
# This is a comment

In [7]:
2+2  # and a comment on the same line as code

4

## Expresssions

In [8]:
(50-5*6)/4

5.0

Integer expressions are rounded downwards.

In [9]:
7/3

2.3333333333333335

In [10]:
7/-3

-2.3333333333333335

# Variables

In [11]:
width=20
print(width)

20

In [12]:
height=5*9
print(height)

45

In [13]:
width*height

900

In [14]:
x = y = z = 0 # Tilldela x, y och z 0

In [15]:
x

0

In [19]:
id(y)

47587761756576

In [21]:
id(z)
z=24.0
id(z)

47588036072936

In [25]:
a=z
id(a)
z=20
print(a)

24.0

# Floating point numbers

In [26]:
3*3.75/1.5

7.5

In [27]:
7.0/2

3.5

# Strings

In [28]:
'spam eggs'

'spam eggs'

In [29]:
'doesn\'t'

"doesn't"

In [30]:
"doesn't"

"doesn't"

In [31]:
'"Yes," he said.'

'"Yes," he said.'

In [32]:
"\"Yes,\" he said."

'"Yes," he said.'

In [33]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

# Strings

In [34]:
hello = "This is a rather long string containing\n several lines of text just as you would do in C.\n\
    Note that whitespace at the beginning of the line is significant."

In [35]:
print(hello)

This is a rather long string containing
 several lines of text just as you would do in C.
    Note that whitespace at the beginning of the line is significant.

# Strings

In [36]:
hello = r"This is a rather long string containing\n\
several lines of text much as you would do in C."

In [37]:
print(hello)

This is a rather long string containing\nseveral lines of text much as you would do in C.

# Strings

In [38]:
print("""
Usage: thingy [OPTIONS] 
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

# Strings

In [39]:
word = 'Help' + 'A'

In [40]:
word

'HelpA'

In [41]:
'<' + word*5 + '>'

'<HelpAHelpAHelpAHelpAHelpA>'

In [42]:
word[4]

'A'

In [43]:
word[0:2]

'He'

In [44]:
word[2:4]

'lp'

# Strings

In [45]:
word[:2] # Första 2 tecknen

'He'

In [46]:
word[2:] # Alla utom de första 2 tecknen

'lpA'

# Strings

In [47]:
word[0] = 'x'

TypeError: 'str' object does not support item assignment

In [48]:
word[:1] = 'Splat'

TypeError: 'str' object does not support item assignment

# Strings

In [49]:
word[-1] # Sista tecknet

'A'

In [50]:
word[-2] # Näst sista tecknet

'p'

In [51]:
word[-2:] # De sista två tecknen

'pA'

In [52]:
word[:-2] # Alla utom de två sista tecknen

'Hel'

In [54]:
s = 'supercalifragilisticexpialidocious'

In [55]:
len(s)

34

# Lists

* Sammansatt datatyp
* Används för att gruppera ihop värden
* Kan innehålla olika datatyper
* Börjar med index 0 
* Individuella värden kan ändras

# List

In [56]:
a = ['spam', 'eggs', 100, 1234]

In [57]:
a

['spam', 'eggs', 100, 1234]

In [58]:
a[0]

'spam'

In [59]:
a[3]

1234

In [60]:
a[-2]

100

In [61]:
a[1:-1]

['eggs', 100]

In [62]:
a[:2] + ['bacon', 2*2]

['spam', 'eggs', 'bacon', 4]

In [68]:
3*a[:3] + ['Boe!']

['spam', 'eggs', 100, 'spam', 'eggs', 100, 'spam', 'eggs', 100, 'Boe!']

# List

Replacing values

In [69]:
a[0:2] = [1,12]

In [70]:
a

[1, 12, 100, 1234]

Removing values

In [71]:
a[0:2] = []

In [72]:
a

[100, 1234]

Inserting values

In [73]:
a[1:1] = ['bletch', 'xyzzy']

In [74]:
a

[100, 'bletch', 'xyzzy', 1234]

In [75]:
a[:0] = a

In [76]:
a

[100, 'bletch', 'xyzzy', 1234, 100, 'bletch', 'xyzzy', 1234]

# List

In [77]:
len(a)

8

Nested lists

In [78]:
q = [2,3]

In [79]:
p = [1, q, 4]

In [80]:
len(p)

3

In [81]:
p[1]

[2, 3]

In [82]:
p[1][0]

2

In [83]:
p[1].append('extra')

In [84]:
p

[1, [2, 3, 'extra'], 4]

In [85]:
q

[2, 3, 'extra']

# Programming

Example: Fibonnaci series. The sum of 2 numbers defines the next value:

In [86]:
a, b = 0, 1
while b < 100:
    print(b)
    a, b = b, a+b

1
1
2
3
5
8
13
21
34
55
89

# Outputting text

In [87]:
i = 256*256

In [88]:
print('The value of i is', i)

The value of i is 65536

In [89]:
a, b = 0, 1
while b < 1000:
    print(b, end=" ")
    a, b = b, a+b

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

# Flow control

In [92]:
x = -56
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Negative changed to zero

# for-loops

Skriva ut längden på strängar

In [93]:
a = ['cat', 'window', 'defenestrate']
for x in a:
    print(x, len(x))

cat 3
window 6
defenestrate 12

# The range() function

In [94]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [95]:
for x in range(5,10):
    print(x)

5
6
7
8
9

In [96]:
for x in range(0,10,3):
    print(x)

0
3
6
9

In [97]:
for x in range(-10,-100,-30):
    print(x)

-10
-40
-70

# The range function

In [98]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

# break, continue and else in loops

* break
 * Terminates a loop
* continue
 * Continues to the next iteration of a loop
* else
 * Is called at the end of the loop if break hasn't been used.

# break, continue and else in loops

In [99]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

   # pass-statements

Ibland kan det vara bra att skapa kod-skelett utan implementering. Detta kan göras med pass-satsen:

    while True:
        pass 
        
    def myfunc():
        pass

# Functions

Funktioner i Python definieras med def-satsen:

In [100]:
def fib(n):
    a, b = 0, 1
    while b < n:
        print(b, end=" ")
        a, b = b, a+b

In [101]:
fib(2000)

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

# Functions and return values

In [102]:
def fib2(n):
    result = []
    a, b = 0, 1
    while b < n:
        result.append(b)
        a, b = b, a+b
    return result

In [103]:
f100 = fib2(100)

In [104]:
f100

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Default arguments

In [106]:
def ask_ok(prompt, retries=4, complaint='Yes or no, please!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'): return 1
        if ok in ('n', 'no', 'nop', 'nope'): return 0
        retries = retries - 1
        if retries == 0:
            print('Giving up')
            return
        print(complaint)

In [107]:
ask_ok('Do you really want to quit?')

Do you really want to quit?y

1

In [108]:
ask_ok('OK to overwrite the file?', 2, 'Answer correct please!')

OK to overwrite the file?y

1

# Keyword arguments

In [110]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action)
    print("if you put", voltage, "Volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [111]:
parrot(1000)

-- This parrot wouldn't voom
if you put 1000 Volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [112]:
parrot(action = 'VOOOOOM', voltage = 1000000)

-- This parrot wouldn't VOOOOOM
if you put 1000000 Volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [113]:
parrot('a thousand', state = 'pushing up the daisies')

-- This parrot wouldn't voom
if you put a thousand Volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [114]:
parrot('a million', 'bereft of life', 'jump')

-- This parrot wouldn't jump
if you put a million Volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [115]:
parrot() # obligatoriskt argument saknas

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [116]:
parrot(voltage=5.0, 'dead') # Icke nyckelordsargument

SyntaxError: positional argument follows keyword argument (<ipython-input-116-2f7a27cf4fcb>, line 1)

In [117]:
parrot(110, voltage=220)

TypeError: parrot() got multiple values for argument 'voltage'

In [118]:
parrot(actor='John Cleese')

TypeError: parrot() got an unexpected keyword argument 'actor'

# Data structures

## More on lists

* append(x) - Lägger till x i slutet av listan
* extend(L) - Lägg till alla element i listan L sist
* remove(x) - Tar bort först förekomsten av x i listan
* pop([i]) - Returnerar och tar bort sista elementet i listan
* index(x) - Returnerar x index i lista
* count(x) - Returnerar antalet förekomster av x i listan
* sort() - sorterar listan
* reverse() - motsatsen

In [136]:
a = [66.6, 333, 333, 1, 1234.5]

In [137]:
print(a.count(333), a.count(66.6), a.count('x'))

2 1 0

In [138]:
a.insert(2, -1)

In [139]:
a.append(333)

In [140]:
a

[66.6, 333, -1, 333, 1, 1234.5, 333]

In [141]:
a.remove(333)

In [142]:
a

[66.6, -1, 333, 1, 1234.5, 333]

In [143]:
a.reverse()

In [144]:
a

[333, 1234.5, 1, 333, -1, 66.6]

In [145]:
a.sort()

In [146]:
a

[-1, 1, 66.6, 333, 333, 1234.5]

## The del function

In [147]:
a = [-1, 1, 66.6, 333, 333, 1234.5]

In [148]:
del a[0]

In [149]:
a

[1, 66.6, 333, 333, 1234.5]

In [150]:
del a[2:4]

In [151]:
a

[1, 66.6, 1234.5]

In [152]:
del a

In [153]:
a

NameError: name 'a' is not defined

## Indexes or dictionaries

* Associative data structure
* Indexed with keys
 * key - value pairs
* Fast access to keys and values

In [154]:
tel = {'jack': 4098, 'sape': 4139}

In [155]:
tel['guido'] = 4127

In [156]:
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [157]:
tel['jack']

4098

In [158]:
del tel['sape']

In [159]:
tel['irv'] = 4127

In [160]:
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [161]:
tel.keys()

dict_keys(['jack', 'guido', 'irv'])

In [162]:
'irv' in tel

True

## Iterating over dictionaries

In [163]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
knights.items()

dict_items([('gallahad', 'the pure'), ('robin', 'the brave')])

In [164]:
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [165]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [166]:
for key in knights.keys():
    print(key, knights[key])

gallahad the pure
robin the brave

# Input- and output

## Formaterad utskrift

In [31]:
for x in range(1, 11):
    print('%2d %03d %04d' % (x, x*x, x*x*x))

 1 001 0001
 2 004 0008
 3 009 0027
 4 016 0064
 5 025 0125
 6 036 0216
 7 049 0343
 8 064 0512
 9 081 0729
10 100 1000

New style formatting

In [32]:
for x in range(1, 11):
    print('{:2d} {:03d} {:04d}'.format(x, x*x, x*x*x))

 1 001 0001
 2 004 0008
 3 009 0027
 4 016 0064
 5 025 0125
 6 036 0216
 7 049 0343
 8 064 0512
 9 081 0729
10 100 1000

## Format codes

    %d      : integer
    %5d     : integer in a field of width 5 chars
    %-5d    : integer in a field of width 5 chars, but adjusted to the left
    %05d    : integer in a field of width 5 chars, padded with zeroes from 
              the left
    %g      : float variable in %f or %g notation
    %e      : float variable in scientific notation
    %11.3e  : float variable in scientific notation, with 3 decimals, field 
              of width 11 chars
    %5.1f   : float variable in fixed decimal notation, with one decimal, 
              field of width 5 chars
    %.3f    : float variable in fixed decimal form, with three decimals, 
              field of min. width
    %s      : string
    %-20s 	: string in a field of width 20 chars, and adjusted to the left

## Input- and output

Önskad utdata:

    Hello, world! sin(3.4)=-0.255541102027

Sammanfogning av strängar

In [36]:
from math import *
r = 3.40

In [37]:
s = sin(r)

In [38]:
print("Hello, World! sin(" + str(r) + ")=" + str(s))

Hello, World! sin(3.4)=-0.2555411020268312

printf-satser

In [39]:
print("Hello, World! sin(%g)=%g" % (r,s))

Hello, World! sin(3.4)=-0.255541

Variabelinterpolation:

In [42]:
#print(vars()["r"])
print("Hello, World! sin(%(r)g)=%(s)g" % vars())

Hello, World! sin(3.4)=-0.255541

New style:

In [43]:
print("Hello, Word! sin({r:g})={s:g}".format(**vars()))

Hello, Word! sin(3.4)=-0.255541

## New style formatting

https://pyformat.info/

## File management

### Open a file for reading

In [44]:
ifile = open("testfile.txt", "r")

In [45]:
print(ifile)

<_io.TextIOWrapper name='testfile.txt' mode='r' encoding='UTF-8'>

In [46]:
ifile.close()

In [47]:
print(ifile)

<_io.TextIOWrapper name='testfile.txt' mode='r' encoding='UTF-8'>

### Read the entire file

In [48]:
ifile = open("testfile.txt", "r")
content = ifile.read()
ifile.close()
print(content)

This is a test file
This is the second line
This is the third line

### Reading a row

In [49]:
ifile = open("testfile.txt", "r")

In [50]:
row1 = ifile.readline()

In [51]:
print(row1)

This is a test file

In [52]:
row2 = ifile.readline()

In [53]:
print(row2)

This is the second line

In [54]:
row3 = ifile.readline()

In [55]:
print(row3)

This is the third line

In [56]:
row4 = ifile.readline()

In [57]:
print(row4)

In [58]:
print(len(row4))

0

In [59]:
ifile.close()

### Using a loop to read all lines in a file

In [61]:
ifile = open("testfile.txt", "r")
line = ifile.readline()
while line!="":
    print(line.strip())
    line = ifile.readline()
ifile.close()

This is a test file
This is the second line
This is the third line

Alternatively

In [62]:
ifile = open("testfile.txt", "r")
for line in ifile:
    print(line)
ifile.close()

This is a test file

This is the second line

This is the third line

The spaces between the lines are there because we also load the special end-of-line character. We can get around this by using the strip () method according to:

In [63]:
ifile = open("testfile.txt", "r")
for line in ifile:
    print(line.strip())
ifile.close()

This is a test file
This is the second line
This is the third line

### Reading all lines into a list

In [64]:
ifile = open("testfile.txt", "r")
lines = []
for line in ifile:
    lines.append(line)
ifile.close()
print(lines)

['This is a test file\n', 'This is the second line\n', 'This is the third line\n']

There is an easier way for this too:

In [65]:
ifile = open("testfile.txt", "r")
lines = ifile.readlines()
print(lines)

['This is a test file\n', 'This is the second line\n', 'This is the third line\n']

### Converting text to floating point values

We have the following file, numbers.txt:

In [66]:
%pycat numbers.txt

Through some tricks and string management, we can convert the numbers in this file to numbers by following the following code:

In [69]:
ifile = open("numbers.txt", "r")
all_numbers = []
for line in ifile:
    parts = line.split()
    
    #numbers = []
    #for p in parts:
    #    numbers.append(float(p))
    
    numbers = [float(p) for p in parts]
    
    all_numbers.append(numbers)
    
ifile.close()
print(all_numbers)

[[1.0, 2.0, 3.0, 4.0, 5.0, 6.0], [7.0, 8.0, 9.0], [10.0, 11.0, 12.0, 13.0]]

### Writing to files

If we want to write to files, the same principle applies as for reading. The file opens first with open () and the attribute "w" for writing. The following example shows how this works:

In [73]:
outfile = open("outfile.txt", "w")

for i in range(10):
    outfile.write("%d " % i)
    
outfile.close()

In [74]:
%pycat outfile.txt